body{
    background-image: url('./assets/grain-dark.9d5983e6.png');  
    background-color: #18171A;
    color: aliceblue;
}
@font-face {
    font-family: 'Pixel';
    font-style: normal;
    font-weight: 400;
    src: local('Pixel Sans Serif'), url('https://fonts.cdnfonts.com/s/87968/Pixel Sans Serif.woff') format('woff');
}
@font-face {
    font-family: 'AzureoN';
    font-style: normal;
    font-weight: 500;
    src: local('AzureoN'), url('https://fonts.cdnfonts.com/s/21232/AzureoN.woff') format('woff');
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hamb{
    border-radius:50%;
    background-color:transparent;
    border-color: #E5E1E6;
    border-width:1px;
    height:50px;
    width:50px;
    color: #E5E1E6;
    margin-top:10px;
    margin-right: 60px;
    outline: none;
    cursor: pointer;
}
.firstviewer{
    display:flex;
    flex-direction: column;
    height:100vh;
    align-items: center;
    margin-top:-30px;
    

}
.first-viewer-image{
    height:55%;
    width: 75%;
    border-radius:300px;
    object-fit: cover;

}
.title{
    font-family:'AzureoN';
    font-size: 94px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
}
.secondary-title{
    font-family:'Pixel';
    font-size:24px;
    color:#fff;
}
.discriptionFont{
    font-size:24px;
    font-weight: 400;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: #fff;
    text-shadow: rgb(255 215 77 / 60%) -1px -1px 6px, rgb(124 127 255 / 60%) 1px 1px 6px;
}
.secondary-viewFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.secondviewer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.thirdviewer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:60vh;
    background-color: #E5E1E6;
    clip-path:polygon(90% 0%,100% 15%,100% 100%,15% 100%,0% 90%,0% 0%);
}
.secondary-viewFlex p{
    margin-left:200px;
    margin-right:200px;
    margin-top:35px;
}
.secondary-viewFlex img{
    margin-right:300px;
}
.image-poster{
    height:300px;
    width: 300px;
    border-radius: 15px;
}
.main-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#E5E1E6;
    border-radius: 25px;
    height:50vh;
    width:250px;
    margin-right: 30px;
    color:black;
}
.box-container img{
    border-radius:25px;
    height: 200px;
    width:200px;
    object-fit: cover;
    
}
.cutted-style{
    clip-path:polygon(90% 0%,100% 15%,100% 100%,15% 100%,0% 90%,0% 0%);
    background-color:#18171A;
    color:white;
    height:35px;
    width:100px;
    text-align: center;
    text-shadow: rgb(255 215 77 / 60%) -1px -1px 6px, rgb(124 127 255 / 60%) 1px 1px 6px;
}
.navigation-container{
    height:100vh;
    width:100vw;
    background-color: #E5E1E6;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:-10px;
}
.navFlex{
    display: flex;
    flex-direction: column;
    
}
.navFlex h1{
    margin-left: 30px;
}
.blackedFont{
    color: #18171A;
}
.committe{
    display:flex;
}
.title-margins{
    margin-left:30px;
}
.events-container{
    margin-left:70px;
    margin-right:70px;
}
@media (max-width:600px){
    .header{
        background-color: #18171A;
        border-radius: 25px;
    }
    .title{
        font-size: 45px;
    }
    .about-container{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .image-poster{
        height: 200px;
        width:200px;
    }
    .discriptionFont{
        box-sizing: border-box;
    }
    .main-container{
        overflow-x: auto;
    }
    .secondary-viewFlex p{
        margin-left: 0px;
        margin-right: 0px;

    }
    .secondary-viewFlex img{
        margin-right: 0px;
    }
    .firstviewer{
        margin-top:0px;
    }
    .hamb{
        margin-right:15px;
        margin-top:15px;
    }
    .title-margins{
        margin-left:5px;
    }
    .events-container{
        text-align: center;
        margin-left:0px;
        margin-right:0px;
    }
}